{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AccessPoint": {
    "Address": "10.0.100.2",
    "Password": "",
    "Channel": 13
  },
  "FieldHardware": {
    "ListenAddress": "0.0.0.0",
    "ListenPort": 1678,
    "ClientTimeoutMs": 500
  },
  "TheBlueAlliance": {
    "ApiKey": ""
  },
  "Database": {
    "DataPath": "./data"
  }
}
